/* style corrections required to show sidebar(s) properly: */

.sidebar.right {
  z-index: 3 !important;
}

.sidebar a {
  font-size: small;
}

.pusher .container {
  /* compensate for sidebar squishing stuff to the right: */
  margin-left: 20px !important;
  /* make main panel look more centered: */
  padding-right: 170px !important;
  /* let user scroll lowest UI elements to a comfortable height */
  padding-bottom: 100px !important;
}
