<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.ui.dropdown').dropdown({fullTextSearch: true});
            $('#update').hide();
            $('#service_mode').hide();
            $('#project').attr('disabled', true);

            const socket = io.connect('http://' + document.domain + ':' + location.port);
        
            $('#title').prop('disabled', false);
            $('#ch_title').prop('disabled', false);
            $('.ui.dropdown').removeClass('disabled');
            $('#verse').prop('disabled', false);
        
            if (sessionStorage) {
              if (sessionStorage.getItem('connected') == 'True') {
                $('#update').show();
                $('#service_mode').show();
                $('#connect').hide();
              }
              if (sessionStorage.getItem('api') == 'false') {
                $('#toggle_label').removeClass('ui basic green label');
                $('#toggle').removeClass('ui green button');
                $('#toggle_label').addClass('ui basic red label');
                $('#toggle').addClass('ui red button');
                $('#toggle').html('Off');
              }
            }
        
            $('form#connect').submit(function() {
              if (/^[a-zA-Z0-9- ]*$/.test($('#user').val()) == false) {
                $('#connect_error').html('Input can only have alphabets and numbers');
                $('#connect').addClass('ui form error');
                return false;
              } else if ($.trim($('#user').val()) != '') {
                const user = $('#user').val();
                socket.emit('user active', {user: $('#user').val()});
                sessionStorage.setItem('user', user);
                return false;
              }
            });

            socket.on('auth event', function(msg) {
              if (msg.auth != 'True') {
                sessionStorage.setItem('connected', 'True');
                $('#project').attr('disabled', false);
                $('#connect').removeClass('ui form error');
                $('#connect').addClass('ui form success');
                $('#con_msg').html('Connected to room: /'+ $('#user').val());
              } else {
                $('#connect').addClass('ui form error');
              }
            });
        
            $('#project').click(function(event) {
              $('#update').show();
              $('#service_mode').show();
              $('#connect').hide();
              event.preventDefault();
            });

            $('#reset').click(function() {
              const active = sessionStorage.getItem('user');
              socket.emit('reset',
                {
                  user: active,
                  title: '',
                  ch_title: '',
                  hymn: '',
                  book: '',
                  verse: '',
                }
              );
              return false;
            });
        
            $('#hymn_singing').click(function() {
              const active = sessionStorage.getItem('user');
              if (/^[a-zA-Z0-9-,: ]*$/.test($('#hymn_input').val()) == false) {
                alert('Input can have only alphabets and numbers.');
              } else {
                socket.emit('custom message',
                  {
                    user: active,
                    type: 'hymn',
                    hymn: $('#hymn_input').val(),
                  }
                );
                return false;
              }
            });
        
            $('#morning_prayer').click(function() {
              const active = sessionStorage.getItem('user');
              if (/^[a-zA-Z0-9-,: ]*$/.test($('#m_hymn_input').val()) == false) {
                alert('Input can have only alphabets and numbers.');
              } else {
                socket.emit('custom message',
                  {
                    user: active,
                    type: 'morning',
                    hymn: $('#m_hymn_input').val(),
                  }
                );
                return false;
              }
            });
        
            $('#toggle').click(function() {
              const active = sessionStorage.getItem('user');
              if ($('#toggle').hasClass('ui green button')) {
                $('#toggle_label').removeClass('ui basic green label');
                $('#toggle').removeClass('ui green button');
                $('#toggle_label').addClass('ui basic red label');
                $('#toggle').addClass('ui red button');
                $('#toggle').html('Off');
                sessionStorage.setItem('api', 'false');
                socket.emit('toggle api', {user: active, state: 'false'});
                return false;
              } else {
                $('#toggle_label').removeClass('ui basic red label');
                $('#toggle').removeClass('ui red button');
                $('#toggle_label').addClass('ui basic green label');
                $('#toggle').addClass('ui green button');
                $('#toggle').html('On');
                sessionStorage.setItem('api', 'true');
                socket.emit('toggle api', {user: active, state: 'true'});
                return false;
              }
            });
        
            $('#scroll').click(function() {
              const active = sessionStorage.getItem('user');
              socket.emit('hymn scroll', {user: active});
            });
        
            $('#verse_update').click(function() {
              const active = sessionStorage.getItem('user');
              const apiState = sessionStorage.getItem('api');
              const msg = JSON.parse(localStorage.getItem(active));
              if (/^[a-zA-Z0-9-,: ]*$/.test($('#verse').val()) == false) {
                $('#update').addClass('ui form error');
                return false;
              } else {
                $('#update').removeClass('ui form error');
                $('#update').addClass('ui form');
                const hymnStorage = msg.hymn;
                console.log(typeof(hymnStorage));
                hymnStorage = hymnStorage.split(':')[1].trim();
                socket.emit('my broadcast event',
                  {
                    user: active,
                    title: msg.title,
                    ch_title: msg.ch_title,
                    hymn: hymnStorage,
                    book: $('#ddbible option:selected').text(),
                    verse: $('#verse').val(),
                    state: apiState,
                  }
                );
                return false;
              }
            });
        
            $('#new_tab').click(function() {
              window.open('http://127.0.0.1:9000/' + sessionStorage.getItem('user'), '_blank');
            });

            $('form#update').submit(function() {
              const apiState = sessionStorage.getItem('api');
              const validTitle = /^[a-zA-Z0-9-,:' ]*$/.test($('#title').val());
              const reg = /^[a-zA-Z0-9-,:' \u4E00-\u9FFF\u3400-\u4DFF\uF900-\uFAFF]*$/;
              const validChTitle = reg.test($('#ch_title').val());
              const validHymn = /^[a-zA-Z0-9-,:' ]*$/.test($('#hymn').val());
              const validVerse = /^[a-zA-Z0-9-,: ]*$/.test($('#verse').val());
              if (!validTitle || !validChTitle || !validHymn || !validVerse) {
                $('#update').addClass('ui form error');
                return false;
              } else {
                $('#update').removeClass('ui form error');
                $('#update').addClass('ui form');
                const active = sessionStorage.getItem('user');
                socket.emit('my broadcast event',
                  {
                    user: active,
                    title: $('#title').val(),
                    ch_title: $('#ch_title').val(),
                    hymn: $('#hymn').val(),
                    book: $('#ddbible option:selected').text(),
                    verse: $('#verse').val(),
                    state: apiState,
                  }
                );
                return false;
              }
            });
        });
    </script>
</head>
<body>
  <br>
  <br>
  <br>
  <div class="ui container">
    <h1 class="ui huge header">
		<img src="static/tjc.jpg" class="ui image">
		Service Projection UI
	</h1>
    <form class="ui form" id="connect" target="_self" method="post">
      <div class="inline field">
        <label>Location</label>
        <input type="text" id="user">
        <button class="ui secondary button" type="submit">Connect</button>
        <button class="ui button" id="project" type="button">Project</button>
      </div>
      <div class="ui error message">
        <div class="header">Error</div>
        <p id="connect_error">This room name is already taken.</p>
      </div>
      <div class="ui success message">
        <div class="header">Connected</div>
        <p id="con_msg"></p>
      </div>
    </form>
    <form class="ui form" id="update" target="_self" method="post">
      <div class="field">
        <label>English Title:</label>
        <input type="text" name="title" id="title">
      </div>
      <div class="field">
        <label>Chinese Title:</label>
        <input type="text" name="ch_title" id="ch_title">
      </div>
      <div class="ui action input">
        <input type="text" name="hymn" id="hymn">
        <button class="ui blue icon button" type="button" id="scroll">
          Hymn<i class="angle right icon"></i>
        </button>
      </div>
      <br>
      <br>
      <div class="inline fields">
        <label>Verse:</label>
        <select class="ui search dropdown" name="ddbible" id="ddbible">
          <option selected="selected" value=""></option>
          <option value="0"></option>
          <option value="1">Genesis | 創世記</option>
          <option value="2">Exodus | 出埃及記</option>
          <option value="3">Leviticus |  利未記</option>
          <option value="4">Numbers |  民數記</option>
          <option value="5">Deuteronomy |  申命記</option>
          <option value="6">Joshua |  約書亞記</option>
          <option value="7">Judges |  士師記</option>
          <option value="8">Ruth |  路得記</option>
          <option value="9">1 Samuel |  撒母耳記上</option>
          <option value="10">2 Samuel |  撒母耳記下</option>
          <option value="11">1 Kings |  列王紀上</option>
          <option value="12">2 Kings |  列王紀下</option>
          <option value="13">1 Chronicles |  歷代志上</option>
          <option value="14">2 Chronicles |  歷代志下</option>
          <option value="15">Ezra |  以斯拉記</option>
          <option value="16">Nehemiah |  尼希米記</option>
          <option value="17">Esther |  以斯帖記</option>
          <option value="18">Job |  約伯記</option>
          <option value="19">Psalms |  詩篇</option>
          <option value="20">Proverbs |  箴言</option>
          <option value="21">Ecclesiastes |  傳道書</option>
          <option value="22">Song of Solomon |  雅歌</option>
          <option value="23">Isaiah |  以賽亞書</option>
          <option value="24">Jeremiah |  耶利米書</option>
          <option value="25">Lamentations |  耶利米哀歌</option>
          <option value="26">Ezekiel |  以西結書</option>
          <option value="27">Daniel |  但以理書</option>
          <option value="28">Hosea |  何西阿書</option>
          <option value="29">Joel |  約珥書</option>
          <option value="30">Amos |  阿摩司書</option>
          <option value="31">Obadiah |  俄巴底亞書</option>
          <option value="32">Jonah |  約拿書</option>
          <option value="33">Micah |  彌迦書</option>
          <option value="34">Nahum |  那鴻書</option>
          <option value="35">Habakkuk |  哈巴谷書</option>
          <option value="36">Zephaniah |  西番雅書</option>
          <option value="37">Haggai |  哈該書</option>
          <option value="38">Zechariah |  撒迦利亞書</option>
          <option value="39">Malachi |  瑪拉基書</option>
          <option value="40">Matthew |  馬太福音</option>
          <option value="41">Mark |  馬可福音</option>
          <option value="42">Luke |  路加福音</option>
          <option value="43">John |  約翰福音</option>
          <option value="44">Acts |  使徒行傳</option>
          <option value="45">Romans |  羅馬書</option>
          <option value="46">1 Corinthians |  哥林多前書</option>
          <option value="47">2 Corinthians |  哥林多後書</option>
          <option value="48">Galatians |  加拉太書</option>
          <option value="49">Ephesians |  以弗所書</option>
          <option value="50">Philippians |  腓立比書 </option>
          <option value="51">Colossians |  歌羅西書</option>
          <option value="52">1 Thessalonians |  帖撒羅尼迦前書</option>
          <option value="53">2 Thessalonians |  帖撒羅尼迦後書</option>
          <option value="54">1 Timothy |  提摩太前書</option>
          <option value="55">2 Timothy |  提摩太後書</option>
          <option value="56">Titus |  提多書</option>
          <option value="57">Philemon |  腓利門書 </option>
          <option value="58">Hebrews |  希伯來書</option>
          <option value="59">James |  雅各書</option>
          <option value="60">1 Peter  | 彼得前書</option>
          <option value="61">2 Peter |  彼得後書</option>
          <option value="62">1 John |  約翰一書</option>
          <option value="63">2 John |  約翰二書</option>
          <option value="64">3 John |  約翰三書</option>
          <option value="65">Jude |  猶大書</option>
          <option value="66">Revelation |  啟示錄</option>
        </select>
        <div class="three wide field">
          <div class="ui left labeled input">
            <a class="ui right pointing label">
              Passage
            </a>
            <input type="text" name="verse" id="verse">
          </div>
        </div>
        <button class="ui button" type="button" id="verse_update">Update</button>
      </div>
      <button class="ui secondary button" type="submit">Submit</button>
      <button class="ui button" type="reset" id="reset">Reset</button>
      <button class="ui button" type="button" id="new_tab">New Window</button>
      <div class="ui labeled button">
        <div class="ui green button" id="toggle">On
        </div>
        <a class="ui basic green label" id="toggle_label" data-tooltip="Toggle bible passage display on and off (recommended to toggle off if not in use)">
          Verse Display
        </a>
      </div>
      <div class="ui error message">
        <div class="header">Error</div>
        <p>Inputs can only have alphabets and numbers</p>
      </div>
    </form>
    <br>
    <br>
    <div id="service_mode">
      <div class="ui action input">
        <input type="text" placeholder="Hymn Numbers..." id="hymn_input">
        <button class="ui blue basic button" type="button" id="hymn_singing" data-tooltip="Set projection to show only hymns">Hymn Singing</button>
      </div>
      <br>
      <br>
      <div class="ui action input">
        <input type="text" placeholder="Hymn Numbers..." id="m_hymn_input">
        <button class="ui teal basic button" type="button" id="morning_prayer" data-tooltip="Set projection to show Morning Prayer">Morning Prayer</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
