<!DOCTYPE html>
<!--Sporeas 1.1.0-->
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <style type="text/css">
        .ui.grid {
            min-height: 100%;
        }
      	body {
      	    overflow-y: hidden;
      	}
        html, body {
            height: 100%;
        }
        body{
          -webkit-transform: scale(1);
             -moz-transform: scale(1);
                  transform: scale(1);
        }
        .ui.container{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .table {
          display: table;
          margin: 0 auto;
        }
    </style>
</head>
<body id="main">
    <br id="break1">
    <br id="break2">
    <div class="ui middle aligned center aligned grid" id="grid">
        <div class="equal height row">
            <h1 class="ui centered header" style="font-size: 100px;" id="title">Title</h1><br>
        </div>
        <div class="equal height row">
            <h1 class="ui centered header" style="font-size: 100px;" id="ch_title">Chinese Title</h1><br>
        </div>
        <div class="equal height row">
            <h1 class="ui centered header" style="font-size: 100px;" id="hymn">讚美詩 Hymn:</h1>
        </div>
        <div class="equal height row">
            <h1 class="ui centered header" name="verse" id="verse" style="text-align: center; font-size: 100px;"></h1>
        </div>
        <div class="ui top aligned basic modal" id="modal">
            <h1 class="ui small invertable header" style="text-align: center; font-size:20px;" id="innerTitle"></h1>
            <h1 class="ui small invertable header" style="text-align: center; font-size:20px;" id="innerChTitle"></h1>
            <div class="vertical scrolling content" style="overflow-y:scroll;">
                <div class="ui invertable vertical divider" style="font-size: 10px; position: relative">
                    EN|CH
                    <div class="ui two column grid">
                        <div class="column">
                            <p class="ui invertable header" style="font-size:40px;" id="overlay"></p>
                        </div>
                        <div class="column">
                            <p class="ui invertable header" style="font-size:45px;" id="ch_overlay"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="ui container" id="announcements">
        <div class="ui middle aligned divided items" id="items">
          <div class="ui huge header" style="font-size: 30px">Announcements</div>
          <div class="item">
            <div class="ui small circular image">
              <img src="static/GA.png">
            </div>
            <div class="middle aligned content">
              <div class="ui header">Announcements from GA</div>
              <div class="description">
                <p>This is the english text</p>
                <p>This is the chinese text</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui small circular image">
              <img src="static/RA.png">
            </div>
            <div class="middle aligned content">
              <div class="ui header">Announcements from RA</div>
              <div class="description">
                <p>This is the english text</p>
                <p>This is the chinese text</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui small circular image">
              <img src="static/FA.png">
            </div>
            <div class="middle aligned content">
              <div class="ui header">Announcements from FA</div>
              <div class="description">
                <p>This is the english text</p>
                <p>This is the chinese text</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui small circular image">
              <img src="static/RE.png">
            </div>
            <div class="middle aligned content">
              <div class="ui header">Announcements from RE</div>
              <div class="description">
                <p>This is the english text</p>
                <p>This is the chinese text</p>
              </div>
            </div>
          </div>
          <div class="table" id="#table">
            <div class="ui horizontal divided list">
              <a class="item">
                <div class="ui header" id="bible_reading">Bible Reading: Zech 1-7 </div>
              </a>
              <a class="item">
                <div class="ui header" id="cleaning_group">Cleaning Group: A</div>
              </a>
              <a class="item">
                <div class="ui header" id="dish_washing">Dish Washing: Alan L, Alan L, Alan L, Alan L, Alan L </div>
              </a>
            </div>
          </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
